* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.wrap {
  width: 100vw;
  background: #eaf0ed;
}

.wrap .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  background: #ffffff;
  -webkit-box-shadow: 1px 1.5px 1px 1px #ddd8d8;
          box-shadow: 1px 1.5px 1px 1px #ddd8d8;
  padding: 10px;
  font-size: 1.3em;
  color: #3f5d45;
}

.wrap .head img {
  width: 100px;
}

.wrap .head .icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.wrap .head .icon div {
  width: 30%;
  height: 2.8px;
  border-radius: 15%;
  background: #3f5d45;
}

.wrap .head .icon div:nth-child(2) {
  width: 20%;
}

.wrap .head .icon div:nth-child(3) {
  height: 3px;
}

.wrap .main {
  position: relative;
  border-top: 2px solid #3f5d45;
}

.wrap .main .main_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 10px;
  background: #c8e8d8;
}

.wrap .main div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .main div h1 {
  font-size: 1.3em;
  margin-right: 5px;
}

.wrap .main div select {
  width: 12vw;
  max-width: 180px;
  min-width: 120px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 1.2em;
}

.wrap .main div div {
  position: relative;
}

.wrap .main div div input {
  width: 12vw;
  max-width: 180px;
  min-width: 120px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 1.1em;
}

.wrap .main div div span {
  position: absolute;
  right: 5px;
  top: 7.2px;
  font-size: 1.2em;
}

.wrap .main .bg {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  left: 50%;
  top: 55%;
  width: 80vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 3em;
}

.wrap .main .bg .reset_icon {
  position: relative;
  top: 6px;
}

.wrap .main .main_list {
  position: relative;
  z-index: 1;
  height: 77.5vh;
  overflow: auto;
}

.wrap .main .main_list .loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  font-size: 3em;
}

.wrap .main .main_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px;
  font-size: 1.2em;
  z-index: 1;
}

.wrap .main .main_list li p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0;
  border-right: 1px solid;
}

.wrap .main .main_list li p:nth-child(1) {
  width: 30%;
}

.wrap .main .main_list li p:nth-child(2) {
  width: 12%;
}

.wrap .main .main_list li p:nth-child(3) {
  width: 12%;
}

.wrap .main .main_list li p:nth-child(4) {
  width: 12%;
}

.wrap .main .main_list li p:nth-child(5) {
  width: 17%;
}

.wrap .main .main_list li p:nth-child(6) {
  width: 17%;
  border-right: none;
}

.wrap .main .main_list li:nth-child(1) {
  background: #ffffff;
  border-bottom: solid 1px;
}

.wrap .main .main_list li:nth-child(odd) {
  background: #ffffff;
}

.wrap .main .main_list li:nth-child(even) {
  background: #eaf0ed;
}

.wrap .nav.active {
  visibility: hidden;
}

.wrap .nav.active span {
  top: -101%;
}

.wrap .nav.active .nav_ul {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.wrap .nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: visible;
  z-index: 10;
}

.wrap .nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  top: 0;
  left: calc(25% * var(--i));
  width: 25%;
  height: 100%;
  background: #eaf0ed;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: calc(0.25s * var(--i));
          transition-delay: calc(0.25s * var(--i));
}

.wrap .nav span .close_icon {
  margin: 20px;
  font-size: 2.5em;
  color: #050505;
  cursor: pointer;
}

.wrap .nav .nav_ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px;
  width: 50%;
  height: 80%;
  border-radius: 10px;
  border-left: 30px solid #3f5d45;
  background-color: #ffffff;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  z-index: 11;
  font-size: 30px;
}

.wrap .nav .nav_ul li {
  border-left: 3px solid;
  margin: 10px 5%;
  font-size: .8em;
  color: #4e4e4e;
}

.wrap .nav .nav_ul li a {
  text-decoration: none;
  color: #4e4e4e;
}

.wrap .nav .nav_ul li a:link {
  text-decoration: none;
  color: #4e4e4e;
}

.wrap .nav .nav_ul li a:visited {
  text-decoration: none;
  color: #4e4e4e;
}

.wrap .nav .nav_ul li:hover a {
  text-decoration: underline;
}

.wrap .nav .nav_ul li:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
  border-left: none;
  text-align: center;
  font-size: .9em;
  font-weight: 600;
}

.wrap .nav .nav_ul li:nth-child(2) {
  margin-top: 30px;
  font-weight: 500;
}

.wrap .nav .nav_ul .copyright {
  position: absolute;
  bottom: 10px;
  font-size: .6em;
}

.hide {
  display: none !important;
}

@media (max-width: 790px) {
  .wrap .nav .nav_ul li:nth-child(1) {
    font-size: 0.7em;
  }
  .wrap .nav .nav_ul li {
    font-size: 0.6em;
  }
  .wrap .nav .nav_ul .copyright {
    font-size: 0.3em;
  }
}

@media (max-width: 600px) {
  .wrap .nav .nav_ul li:nth-child(1) {
    font-size: 0.6em;
  }
  .wrap .nav .nav_ul li {
    font-size: 0.55em;
  }
}

@media (max-width: 540px) {
  .wrap .nav .nav_ul {
    margin-top: 15px;
    width: 75%;
  }
  .wrap .nav .nav_ul li:nth-child(1) {
    font-size: 0.6em;
  }
  .wrap .nav .nav_ul li {
    font-size: 0.55em;
  }
}

@media (max-width: 440px) {
  .wrap .head {
    font-size: 1.1em;
  }
}

@media (max-width: 425px) {
  .wrap .main div h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 425px) {
  .wrap .main div div input {
    width: 10px;
    max-width: 100px;
    min-width: 100px;
  }
}
/*# sourceMappingURL=index.css.map */